version: "3.9"

services:
  api:
    build: .
    ports:
      - "8080:8080"
    environment:
      STORAGE_TYPE: ${STORAGE_TYPE}
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: comments
    depends_on:
      - postgres

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: comments
    ports:
      - "5432:5432"
